@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --color-primary: hsl(180, 66%, 49%);
  --color-primary-dark: hsl(257, 27%, 26%);
  --color-secondary: hsl(0, 87%, 67%);
  --color-gray: hsl(0, 0%, 75%);
  --color-gray-violet: hsl(257, 7%, 63%);
  --color-blue-dark: hsl(255, 11%, 22%);
  --color-violet-dark: hsl(260, 8%, 14%);
  --color-white: hsl(255, 0%, 100%);

  --fs-900: 3.6rem;
  --fs-800: 2.7rem;
  --fs-700: 1.8rem;
  --fs-600: 1.4rem;
  --fs-500: 1rem;
  --fs-400: 0.875rem;
}

@media screen and (min-width: 850px) {
  :root {
    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.6rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
  }
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-family: inherit;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.app {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex-c {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.container {
  /* width: 80%; */
  padding-inline: clamp(3em, 5vw, 10rem);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}

.text-dark {
  color: var(--color-blue-dark);
}
.text-light {
  color: var(--color-gray-violet);
}
.text-white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-light {
  background-color: hsl(0, 0%, 75%, 0.3);
}

.bg-dark {
  background-color: var(--color-violet-dark);
}
